*.ttf
*.otf
*.png
*.jpg
*.zip
*.svg
*.eot
*.woff
*.woff2
*.log
*.map
*.ico
*.vscodeignore
*.prettierignore
*.gitignore
private/*
public/*
cache/*
logs/*
.vscode/*
node_modules/*
platforms/*
hooks/*
.DS_Store
package-lock.json
package.json
*.schema.ts
**/App_Resources/*
**/.webpack/*
assets/*
